#resume {
  padding: 50px;
  background-color: #f2f2f2; /* Light gray background */
  background-image: url("a.jpg"); /*Optional hexagonal design */
  background-size: 100%;
}

#resume h2 {
  font-size: 2.5rem;
  color: #f7f7f7;
  margin-bottom: 20px;
  padding-left: 360px;

}

.resume-card {
  background-color: rgb(226, 226, 226);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Slight shadow */
  padding: 20px;
  max-width: 500px;
  margin: 0 360px 20px;
}

.resume-card h3 {
  color: #0f8b8f; /* Title color */
  font-size: 1.5em;
  margin-bottom: 10px;
}

.resume-card p {
  color: #000000;
  font-size: 1em;
  margin-bottom: 20px;
  text-align: start ;
  text-align: justify;
}

.center {
  display: flex;
  padding-left: 360px;
}
.download-btn {
  width:300px;
  height:60px;
  text-align:center;
  cursor:pointer;
  margin:20px 0px;
  border-radius:10px;
  box-sizing:border-box;
  overflow:hidden;
}
.download-btn {
  border:5px solid #520b5f;
}
.download-btn div {
  width:100%;
  height:100%;
  font-size:15px;
  font-weight:600;
  text-transform:uppercase;
  line-height:50px;
}
.download-btn .top {
  background:#520b5f;
  color: #ffffff;
}

.download-btn .bottom {
  background:#eee;
  color:#520b5f;
  text-decoration: none;
  color:inherit;
}
.download-btn .top {
  transition:all 300ms ease-in-out;
}
.download-btn:hover .top {
  margin-top:-50px;
}
